body{
    background-color: rgb(213, 185, 185);
}

#titulo{
    text-align: center;
    margin-top: 55px;
    transform: scale(2.5);
}
#padre{
    display: grid;
    row-gap: 15px;
    column-gap: 95px;
    justify-content: center;
    margin-top: 13%;
}
#marco1{
    grid-column-start: 1;
    grid-row-start: 2;
    transform: scale(1.5);
    background-color: rgb(137, 185, 183);
}
#marco2{
    grid-column-start: 2;
    grid-row-start: 2;
    transform: scale(1.5);
    background-color: rgb(185, 183, 137);
}
#marco3{
    grid-column-start: 3;
    grid-row-start: 2;
    transform: scale(1.5);
    background-color: rgb(174, 137, 185);
}
#marco4{
    grid-column-start: 1;
    grid-row-start: 3;
    transform: scale(1.5);
    background-color: rgb(185, 137, 149);
    
}
#marco5{
    grid-column-start: 2;
    grid-row-start: 3;
    transform: scale(1.5);
    background-color: rgb(148, 185, 137);
}
#marco6{
    grid-column-start: 3;
    grid-row-start: 3;
    transform: scale(1.5);
    background-color: rgb(137, 148, 185);
}
#boton{
    margin-top: 55px;
    display: flex;
    justify-content: center;
    transform: scale(1.4);
}